source ~/gitops/.envrc
export TF_VAR_nodes="10.2.252.250"
export TF_VAR_cluster_name="pi-front"
export TF_VAR_domain_name="n6.bonkie.net"
export TF_VAR_github_token=$GITHUB_TOKEN
export TF_VAR_github_org=$GITHUB_USER
export TF_VAR_github_repository=flux_infra

export TALOSCONFIG=${TF_VAR_cluster_name}.${TF_VAR_domain_name}_talosconfig.yaml
